.login-form {
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 2px 10px gray;
  height: 400px;
  margin: 60px auto;
  width: 50%;
}
.username, .password {
  display: flex;
  flex-direction: column;
  height: 30px;
  margin: 60px auto;
  width: 250px;
}
.slide-left{
  background-color: rgb(26, 122, 90);
  border-radius: 50px;
  grid-area: overlap;
  height: 18px;
  width: 80px;
}
.slide-right{
  align-items: center;
  background-color: rgb(26, 122, 90);
  border-radius: 50px;
  grid-area: overlap2;
  height: 18px;
  width: 80px;
}
.sign-up{
  align-items: center;
  border-radius: 50px;
  display: flex;
  grid-area: overlap;
  height: 18px;
  justify-content: center;
  width: 80px;
}
.log-in{
  align-items: center;
  border-radius: 50px;
  display: flex;
  grid-area: overlap2;
  height: 18px;
  justify-content: center;
  width: 80px;
}
.sign-up, .log-in{
  font-size: 11px;
}
.container{
  align-items: center;
  background-color: rgb(179, 210, 204);
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "overlap overlap2";
  height: 18px;
  justify-content: center;
  justify-items: center;
  margin: 40px auto;
  width: 160px;
}
.sign-up:hover, .log-in:hover{
  color: rgb(232, 135, 9);
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}
