nav{
  /* border: 2px solid blue; */
  color: rgb(105, 103, 103);
  margin: 2px auto auto;
  text-align: center;
  width: 100%;
}

.category-section {
  /* border: 2px solid rgb(0, 255, 106); */
  background-color: rgb(164, 236, 212);
  display: flex;
  align-items: center;
  margin:auto;
  width: 90%;
}

.navbar__item{
  background-color: rgba(0,0,0, .1);
  /* border-radius: 4px; */
  font-size: 8px;
  margin-right: 10px;
  padding: 5px 5px;
}

.right-side {
  border: 2px solid;
  display: flex;
  font-size: 12px;
  right: 1px;
  justify-self: flex-end;
  position: relative;
}
.right-side span {
  font-weight: 600;
  padding: 0 5px;
}
.right-side .email-icon, 
.right-side .alert-icon, 
.right-side .profile-icon {
  border: 1px solid gray;
  border-radius: 8px;
  margin: 0 2px;
  padding: 10px;
}
.right-side .login {
  border-radius: 8px;
  margin: 0 2px;
  padding: 10px;
}
.navbar__item:hover {
  color: black;
  cursor: pointer;
  border-bottom: 2px black solid;
  padding-bottom: 5px;
}