nav{
  background-color: rgb(196, 138, 138);
  color: rgb(105, 103, 103);
  margin: auto;
  text-align: center;
  width: 80%;
}

.category-section {
  background-color: rgb(164, 236, 212);
  display: flex;
  align-items: center;
}

.category-section h6{
  margin-right: 15px;
  padding: 10px 5px;
}

.right-side {
  display: flex;
  font-size: 12px;
  left: 60%;
  justify-self: flex-end;
  position: relative;
}
.right-side span {
  font-weight: 600;
  padding: 0 5px;
}
.right-side .email-icon, 
.right-side .alert-icon, 
.right-side .profile-icon {
  border: 1px solid gray;
  border-radius: 8px;
  margin: 0 2px;
  padding: 10px;
}
.right-side .login {
  border-radius: 8px;
  margin: 0 2px;
  padding: 10px;
}
.navbar__item:hover {
  color: black;
  cursor: pointer;
  /* text-decoration: underline; */
  border-bottom: 2px black solid;
  padding-bottom: 5px;
}