.new-person {
  border: 2px solid rgb(124, 119, 119);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 25px 5px;
  width: 100%
}
.new-person input {
  height: 30px;
  margin: 5px 0;
  width: 98%;
}
.new-person__button {
  align-self: center;
  border-radius: 8px;
  box-shadow: 2px 3px rgb(83, 80, 80);
  height: 40px;
  width: 98%;
}