.App {
  background-color: rgb(181, 213, 213);
  margin: auto;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

input{
  text-align: center;
}
.app-footer {
  border: 2px solid gray;
  border-radius: 3px;
  box-shadow: 0 5px gray;
  font-family: sans-serif;
  font-size: 11px;
  margin-top: 3px;
}